<div class="top_page">
  <p class="mx-3">Your upcoming match</p>
  <div class="d-flex justify-content-center">
    <div>
      <%= image_tag "please2.svg", class: "mb-3", alt: "RealLife.love match", style: 'height:auto;width:150px;' %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-xs-12 col-md-8 col-lg-6" >
    <% if @pseudo_match.helper == current_user %>
      <%= render 'show_helper' %>
    <% else %>
      <%= render 'show_single' %>
    <% end %>
  </div>
</div>