<input type="hidden" name="user[male]" value="">
<div class="gender-options">
  <div style="flex: 0 0 40%">
    <input style="display:none" type="radio" value="true" <%= @user.male ? 'checked' : '' %> name="user[male]" id="user_male_true">
    <label id="male-label" class="gender-option <%= @user.male ? 'active' : '' %>" for="user_male_true">Man</label>
  </div>
  <div style="flex: 0 0 40%">
    <input style="display:none" readonly="readonly" type="radio" value="false" <%= @user.male == false ? 'checked' : '' %> name="user[male]" id="user_male_false">
    <label id="female-label" class="gender-option <%= @user.male == false ? 'active' : '' %>" for="user_male_false">Woman</label>
  </div>
</div>

<!-- <script>
  const male = document.getElementById('user_male_true')
  const female = document.getElementById('user_male_false')
  const maleLabel = document.getElementById('male-label')
  const femaleLabel = document.getElementById('female-label')
  const genderOption = document.querySelectorAll('.gender-option');
  genderOption.forEach((option) => {
    option.addEventListener("click", () => {
      if (event.currentTarget.classList.contains('active')) {
        console.log(event.currentTarget.classList.contains('active'))

      } else {
        if (event.currentTarget == maleLabel) {
          event.currentTarget.classList.add('active');
          femaleLabel.classList.remove('active')
        } else {
          event.currentTarget.classList.add('active');
          maleLabel.classList.remove('active')
        }
      }
    });
  });
</script> -->

<%#= f.input :male, label: 'Gender', as: :radio_buttons, collection: [['Man', true], ['Woman', false]], label_method: :first, value_method: :second %>
