<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> -->
    <h1>Awesome <%= @user.first_name %>, you just added a friend</h1>
    <p>
      You have successfully signed up to the website,
      your username is: <%= @user.last_name %>.<br>
    </p>
    <p>
      To login to the site, click <a href="<%= @url %>" target="blank">here</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
<!--   </body>
</html> -->
