<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @friend.first_name_cap %>,</h1>
    <p>
      <%= @user.full_name %> has invited you as a friend on IRL :)
    </p>
    <p>
      To login to the site, click <a href="<%= @url %>" target="blank">https://wwww.reallife.love</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
