<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Awesome <%= @user.first_name_cap %>,</h1>
    <p>
      <%= @match.full_name %> is looking forward to meet you :)
    </p>
    <p>
      To login to the site, click <a href="<%= @url %>" target="blank">https://wwww.reallife.love</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>