<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @helper.full_name %> has matched you with someone on IRL!</h1>

    <p>Comment from <%= @helper.first_name_cap %>:</p>
    <p><%= @intro %></p>
    <p>
      To discover your match and create your profile on IRL, click <a href="<%= @url %>" target="blank">https://wwww.reallife.love</a>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
