<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.first_name %> you succesfully updated you'r profile</h1>
    <p>
      Your username is: <%= @user.last_name %>.<br>
    </p>
  <!-- If you want to add new modification, <%#link_to "Edit profile", edit_user_user_adjective_url(@user) %> -->
    </p>

  </body>
</html>
