<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.full_name %> you succesfully created your IRL account.</h1>
    <p>
      If you wish to go back on the site just click on the link down there.<br>
      To login to the site, click <a href="<%= @url %>" target="blank">https://wwww.reallife.love</a>


  </body>
</html>
