<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
    </div>
    <h1>Welcome to IRL, <%= @user.first_name_cap %></h1>
    <p>
      You have successfully signed up to Real Life. You can start inviting your friends.
    </p>
    <p>
      To login to the site, click <a href="<%= @url %>" target="blank">https://wwww.reallife.love</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
