.top_page{
  background-color: $light-blue;
  border-radius: 0px 0px 65px 65px;
}

.top_page p {
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 60px;
}

.hero_image{
  border-radius: 0px 0px 35px 35px;
  width: 95%
}

body{
  background-color: white;
}

.navbarIRL{
  background-color: $light-blue;
}
