.show-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 8px;
}

.tabs {
  padding: 8px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  a {
    color: $light-gray;
    opacity: 0.6;
    &:hover {
      text-decoration: none;
      opacity: 1;
      box-shadow: inset 0px -11px 1px -10px $light-gray;
    }
  }
}
a.active {
  font-weight: bold;
  box-shadow: inset 0px -12px 1px -10px $light-gray;
}


.show-intro-left {
  flex-grow: 1;
}


.show-intro-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.invitations {
  background-color: rgb(245,245,245);
  border: solid 1px rgb(245,245,245);
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.adjectives {
  background-color: rgb(245,245,245);
  border: solid 1px rgb(245,245,245);
  border-radius: 5px;
  padding: 8px;
  opacity: 0.6;
}

.show-flex {
  display: flex;
  margin-top: 32px;
  position: relative;
  width: 320px;
  margin: 0 auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .show-intro-right {
    flex-direction: column;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .show-intro-right {
    flex-direction: column;
  }
}
