<div class="gender-options">
  <!-- <input name="user[male_search]" type="hidden" value="0"> -->
  <input style="display:none" value="1" type="checkbox" checked="checked" name="user[male_search]" id="user_male_search">
  <label class="gender-option" for="user_male_search">A Man</label>

  <!-- <input name="user[female_search]" type="hidden" value="0"> -->
  <input style="display:none" value="1" type="checkbox" checked="checked" name="user[male_search]" id="user_male_search">
  <label class="gender-option" for="user_male_search">A Woman</label>
</div>



  <%#= f.input :male_search, input_html: {value: @user.male_search} %>
  <%#= f.input :female_search, input_html: {value: @user.female_search} %>

