<div class="min-height">

  <div class="top_page">
    <p class="mx-3">our search?</p>
    <div class="d-flex justify-content-between">
      <div></div>
      <div>
        <%= image_tag "tresor3.svg", class: "mb-3", alt: "data protection", style: 'height:auto;width:300px;' %>
      </div>
      <div></div>
    </div>
  </div>
  <div class="catch-paragraph">
    some inspiration for your friends...
  </div>
  <%= render 'form' %>

</div>
