<div class="card-container">
  <% matches.each do |match| %>
    <%= link_to pseudo_match_path(match), class:"text-decoration-none d-flex position margin-top-bottom" do %>
      <div class="card-category-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= match.match_one.profile_image_path %>'); width: 100%; height: 100%;">
      <div style="position: absolute; left: 25%"><%= match.status  %></div>
      </div>
      <div class="card-category-right" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= match.match_two_picture %>'); width: 100%; height: 100%;">
      </div>
    <% end %>
  <% end %>
</div>
