<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <% if @user.available %>
      <%= render 'loggedin_single'  %>
    <% else %>
      <%= render 'loggedin_helper'  %>
    <% end %>
  </div>
</div>