<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <% if @user.available %>
      <div class="tabs">
        <%= link_to 'single', show_single_user_path(@user), id: 'show_single', class: 'active',  remote: true %>
        <%= link_to 'helper', show_helper_user_path(@user), id: 'show_helper', remote: true %>
      </div>
      <div id="loggedin_container">
        <%= render 'loggedin_single'  %>
      </div>
    <% else %>
      <%= render 'loggedin_helper'  %>
    <% end %>
  </div>
</div>