<div class="cards mt-3">
  <% @friends.each do |myfriend| %>
    <%= link_to user_path(myfriend), class:"text-decoration-none text-white" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
        <%= myfriend.full_name %>
        <small>
          <%= myfriend.status %></small>
      </div>
    <% end %>
  <% end %>
</div>