<%= link_to root_path, class: "navbar-logo" do %>
    <div class="logo">
      <div class="logo-real">
        Real
      </div>
      <div class="logo-life">
        Life
      </div>
      <!-- <div class="logo-love">
        <i class="fas fa-heart"></i>love
      </div> -->
      <div>
        <%= image_tag "reallifelove.svg", style: 'height:auto;width:30px;' %>
      </div>
    </div>
<% end %>
