<div class="min-height">
  <div class="container">

    <h2>About RealLife.love</h2>
    Modern Dating has moved online with its peaks and its horror stories 👹 of ghosting 👻, fake profiles, and personal information spread on impersonal marketplaces.
    <p class="my-3">
    RealLife.love is on a mission to offer genuine confidential digital dating by asking your existing friends for help.
    </p>
    <ul>
      <li>
        Users select helpers and describe their ideal match.
      </li>
      <li>
        Helpers can, in turn, recommend people from their existing network or by staying on the lookout!
      </li>
      <li>
        Information is only shared once users indicate their interest in a suggested match.  We use the same ssl encryptions as banks so we’ve got confidentiality covered 👮.
      </li>
    </ul>
    RealLife.love was created by two coding bootcamp students from <%= link_to 'LeWagon.com',  'http://www.lewagon.com', class: "text-decoration-none text-dark"  %>’s batch#222.  It is free to use 🤟. We really hopes to bring more genuine magic to your world by welcoming you as a helper or as a user!
    <div class="my-2 row justify-content-center">
      <%= link_to "Click here to create an account", fblogin_path, class: "main_action_button mt-3" %>
    </div>
  </div>
</div>
