  <%= image_tag "HomeHero.jpg", width: '100%' %>
 <div class="container">
  <h2>Find a real person</h2>
  IRL facilitates matchmaking by
  leaverging your friends, ensuring genuine interactions and removing the hassle in introductions.  You can nominate match-makers and enable them to alert you when they find a potentional suitable match for you, while always leaving you in total control.
  RealLife.love is free and will stay free if you sign-up now.
  <div class="my-2 row justify-content-center">
  <%= link_to "Sign-up", "new_user_registration_path", class: "button1" %>
  </div>
  <h2>Help your friends </h2>
  We all have amazing single friends and its a huge gift to be able to introduce future couples to each other.  RealLife.love makes this easy, notifying your friend on RealLife.love about potential matches from your network while keeping your RealLife.love friend in full control with making the introduction happen.  RealLife.love is free for now to join today!
  <div class="my-2 row justify-content-center">
  <%= link_to "Sign-up", "new_user_registration_path", class: "button1" %>
  </div>
  <h2>About RealLife.love</h2>
  We do not share your information with third parties and have no plans to change this.  IRL is free to use without limits for now.  We are happy focusing on our mission of building the best most genuine matching engine for now.
  In the future, we will continue to offer our service for free to the users who have begun this way.
</div>
