<div class="top_page">
  <p class="mx-3">Where friends help match you</p>
  <div class="d-flex justify-content-between">
    <div></div>
    <div class="flex-grow-1">
      <%= image_tag "undraw_love_xfcv_nobkg.svg", class: "hero_image mt-5", alt: "RealLife.love" %>
    </div>
    <div></div>
  </div>
</div>
<div class="container">
  <h2>Find a real person</h2>
  <div class="catch-paragraph">
    Find your match through your friends.<br>
    Nominate friends, stay in control.<br>
    RealLife.love is free for now.
  </div>
  <div class="my-2 row justify-content-center">
    <%= link_to "ASK FRIENDS TO MATCH YOU", new_user_registration_path, class: "main_action_button" %>
  </div>
  <h2>Help your friends </h2>
  <div class="catch-paragraph">
    Nudge about potential matches and give them the opportunity to pursue this further.<br>
    RealLife.love is free to join today!
  </div>
  <div class="my-2 row justify-content-center">
    <%= link_to "HELP YOUR FRIENDS", new_user_registration_path, class: "main_action_button" %>
  </div>
  <h2>About RealLife.love</h2>
  <div class="catch-paragraph">
    We do not share your information.<br>
    RealLife.love is free to use without limits.<br>
  </div>
</div>
