<div class=chat-header><p>conversation</p>
  <div class="messages">
    <% @chat_room.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <div id="create-message">
    <%= simple_form_for [@chat_room, Message.new], remote: true do |f| %>
    <%= f.input :content, label: false %>
    <% end %>
  </div>
</div>
