<%= link_to user_path(user), class:"text-decoration-none d-flex position margin-top-bottom" do %>
  <div class="card-category-left-helperpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= user.profile_image_path %>'); width: 100%; height: 100%;">
  </div>
<% end %>
