<div style="flex-grow: 1">
  <div class="square_social_links">
    <%= link_to user.facebook_profile, class:"match_social_urls" do %>
      <i class="fab fa-facebook"></i>
    <% end %>
    <%= link_to user.twitter_profile, class:"match_social_urls" do %>
        <i class="fab fa-twitter"></i>
    <% end %>
  </div>
  <div class="square_social_links">
    <%= link_to user.instagram_profile, class:"match_social_urls" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to user.linkedin_profile, class:"match_social_urls" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>
  </div>
</div>

