.form{
  background-color: #4a9ff5;
  color: white !important;
  margin-left: ($spacer * 2);
  margin-right: ($spacer * 2);
  padding-left: ($spacer * 1);
  padding-right: ($spacer * 1);
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
  border-radius: 20px 20px 20px 20px;
}

.from-text{
  color: white !important;
}

#bob:hover{
  text-decoration: none;
  box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.2);
}
