.form{
  background-color: #4a9ff5;
  color: white !important;
  margin-left: ($spacer * 2);
  margin-right: ($spacer * 2);
  padding-left: ($spacer * 1);
  padding-right: ($spacer * 1);
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
  border-radius: 20px 20px 20px 20px;
}

.form2{
  background-color: white;
  border: solid #4a9ff5;
  color: #4a9ff5 !important;
  margin-top: ($spacer * 1);
  margin-left: ($spacer * 1);
  margin-right: ($spacer * 1);
  padding-left: ($spacer * 1);
  padding-right: ($spacer * 1);
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
  border-radius: 20px 20px 20px 20px;
}

.from-text{
  color: white !important;
}

.form-text{
  color: #4a9ff5 !important;
}



.gender-search{
  flex: 0 0 40%;
  color: black;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  background: #CEF9E2;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  opacity: 0.5;
  &:hover{
    padding: 7px 15px;
    color: black;
    text-decoration: none;
    border: 2px solid #0F60C4;
    opacity: 1;
    cursor: pointer;
  }
  &.active{
    background: #4a9ff5;
    color: white;
    opacity: 1;
  }
}

.gender-options{
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}

.gender-option{
  width: 100%;
  color: black;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover{
    padding: 7px 15px;
    background: #033fff;
    color: white;
    text-decoration: none;
    border: 2px solid #0F60C4;
    opacity: 0.4;
    cursor: pointer;
  }
  &.active{
    background: #033fff;
    color: white;
  }
}


.available-options{
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  flex-wrap: wrap;
}

.available-option{
  width: 100%;
  color: black;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover{
    padding: 7px 15px;
    background: #033fff;
    color: white;
    text-decoration: none;
    border: 2px solid #0F60C4;
    opacity: 0.4;
    cursor: pointer;
  }
  &.active{
    background: #033fff;
    color: white;
  }
}

.flex-item {
  flex: 0 0 25%;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  &:hover{
    text-decoration: none;
    box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.2);
  }
}

