.links {
  display: flex;
  justify-content: space-around;
  color: rgb(200,200,200) !important;
  text-decoration: none;
}


.small_link_text_right {
  text-align: right !important;
  color: black !important;
}

