.chat-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.message_content {
  margin-bottom: 0;
}

.chat-header {
  background-color: white;
  color: $light-blue;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    font-weight: bold;
    margin: 0;
/*    text-shadow: 1px 1px 3px rgb(102, 205, 170)*/
  }
}

.chat-input > div {
  color: red;
  flex-grow: 1 !important;
}

.send_button{
  color: $light-blue;
  padding: 8px 24px;
  font-weight: bold;
  display: inline-block;
  background: transparent;
  transition: background 0.3s ease;
  border: none;
  &:hover{
  color: #CEF9E2;
  text-decoration: none;
  border: none;
  }
}
