.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

.match_social_urls {
  color: #060805;
  font-size: 20px;
  margin: 5px;
}

.match-search-urls {
  color: #060805;
  font-size: 20px;
  margin: 5px;
}

.square_social_links{
  justify-content: space-around;
  align-items: center;
}
