.catch-paragraph{
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.catch-paragraph-right{
  text-align: right;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.catch-paragraph-left{
  text-align: left;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.small-paragraph{
  text-align: center !important;
  text-align: left;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $grey-blue;
}

h2{
  margin-top: 25px;
  text-align: center;
}

.navbar-logo:hover {
  text-decoration: none;
}

.logo{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.logo-real{
  color: $dark-blue;
  font-size: 35px;
}

.logo-life{
  color: $darker-blue;
  font-size: 35px;
}

.logo-love{
  color: $blue;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  h2 {
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
  }
  .social {
    padding-left: 0px;
  }
  li {
    color: rgba(103, 211, 34, 0.5);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #053FFF;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: #FF6684;
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

.match_social_urls {
  color: #060805;
  font-size: 20px;
  margin: 5px;

}

.square_social_links{
  justify-content: space-around;
  align-items: center;
}



